.embla {
	overflow: visible;
	clip-path: inset(-100vw -100vw -100vw 0);
	margin: auto;
}
.emblaContainer {
	display: flex;
	margin-left: -30px;
}
.emblaSlide {
	min-width: 0;
	flex: 0 0 700px;
	padding-left: 30px;
}

@media screen and (max-width: 1439px) {
}
@media screen and (max-width: 1279px) {

}

@media screen and (max-width: 991px) {
    .emblaSlide{
        flex: 0 0 430px;
    }
}
@media screen and (max-width: 767px) {
	.emblaContainer{
		margin-left: -20px;
	}
	.emblaSlide{
		flex: 0 0 284px;
		padding-left: 20px;
	}
}
@media screen and (max-width: 479px) {
}