@import '@/styles/vars';
.section {
    padding: 140px 0 0;
    max-width: 1340px;
    margin: 0 auto;
}
.sectionHead {
    font-weight: 700;
    display: flex;
    gap: 363px;
}
.sectionDescription {
	font-size: 48px;
	letter-spacing: -0.04em;
	text-transform: uppercase;
	color: $dark-blue;
	max-width: 729px;
}
.formContainer {
    margin-top: 50px;
    border-top: 1px solid $line-light-bg;
    display: flex;
    gap: 180px;
}
.contactsBlock {
    width: max-content;
    padding: 30px 0 0;
}
.contactsContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contacts {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.socials {
    display: flex;
    align-items: center;
    gap: 10px;
    a img {
        display: flex;
        align-self: center;
        fill: #fe470d;
        &:hover {
            opacity: 0.5;
        }
    }
}
.number,
.email {
    width: fit-content;
    flex-shrink: 0;
    color: $dark-blue;
    line-height: 1.5;
    span {
        color: $paragraph-light;
    }
    cursor: pointer;
    &:hover {
        opacity: 0.5;
    }
}
.address {
    margin-top: 30px;
    max-width: 220px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: $paragraph-light;
}
.form {
    width: 100%;
    max-width: 690px;
    position: relative;
    padding: 30px 0 100px 20px;
    border-left: 1px solid $line-light-bg;
}
.credentials {
    border-radius: 6px;
    overflow: hidden;
    border-bottom: 1px solid $dark-blue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.nameInput,
.emailInput,
.phoneInput {
    width: 100%;
    height: 46px;
    padding: 15px;
    background: $form-bg-light;
    color: $dark-blue;
    &::placeholder {
        color: $paragraph-light;
    }
}
.phoneInput {
	padding-left: 34px;
}
.countryCode {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	padding: 0 0 0 15px;
    display: grid;
    place-content: center;
	font-weight: 400;
	line-height: 1.2;
	font-size: 16px;
	height: 100%;
	color: $dark-blue;
}
.nameInputContainer,
.phoneInputContainer,
.emailInputContainer {
    position: relative;
}
.nameInputContainer::after,
.emailInputContainer::after {
    content: '';
    position: absolute;
    display: inline-block;
    top: 10px;
    right: 0;
    height: 36px;
    width: 1px;
    background: $line-light-bg;
}
.message {
    margin-top: 37px;
    padding: 15px;
    background: $form-bg-light;
    color: $dark-blue;
    border-radius: 6px;
    border-bottom: 1px solid $dark-blue;
    width: 100%;
    height: 98px;
}
.submit {
    margin-top: 30px;
}
@media screen and (max-width: 1439px) {
}
@media screen and (max-width: 1279px) {
    .sectionDescription {
        font-size: 44px;
    }
    .formContainer {
        gap: 0;
        justify-content: space-between;
    }
    .contactsBlock {
        order: 2;
    }
    .form {
        border: none;
        border-right: 1px solid $line-light-bg;
        order: 1;
        padding: 30px 20px 100px 0;
    }
}

@media screen and (max-width: 991px) {
	.section {
		padding: 120px 0 70px;
	}
	.sectionHead {
		gap: 10px;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.sectionDescription {
		font-size: 40px;
	}
	.formContainer {
		border: none;
		flex-direction: column;
		align-items: center;
		margin-top: 40px;
	}
	.contactsBlock {
		max-width: 100%;
		width: 100%;
	}
	.contactsContainer {
		flex-direction: row;
		justify-content: space-between;
	}
	.form {
		margin-top: 0;
		border: none;
		padding: 0;
		max-width: 100%;
		width: 100%;
	}
}
@media screen and (max-width: 767px) {
	.sectionHead {
		flex-direction: column;
	}
	.sectionDescription {
		font-size: 34px;
	}
	.section {
		padding: 100px 0 70px;
	}
	.formContainer {
		margin-top: 30px;
	}
	.message {
		margin-top: 20px;
	}
	.submit {
		margin-top: 20px;
	}
	.credentials {
		grid-template-columns: 1fr;
	}
	.contacts {
		gap: 10px;
	}
	.contactsBlock {
		padding: 0;
		margin-top: 50px;
	}
	.contactsContainer {
		gap: 0;
	}
	.address {
		max-width: none;
		font-size: 14px;
	}
	.nameInputContainer,
	.emailInputContainer {
		&::after {
			top: unset;
			bottom: 0;
			left: 15px;
			height: 1px;
			width: 100%;
			background: $line-light-bg;
		}
	}
}
@media screen and (max-width: 479px) {
    .sectionDescription {
        font-size: 28px;
    }
}

.disabled {
    pointer-events: none;
    opacity: 0.7;
}
